.header{
	background:#000;
}
ul.menu-main{
	margin-top:20px;
	margin-bottom:10px;
	list-style:none;
	li{
		display:inline-block;
		margin:0 15px;
		a{
			line-height:85px;
			color:#fff;
			transition:all .5s;
			&:hover{
				color:#428bca;
				text-decoration:none;
			}
		}
	}
}
ul.menu-company{
	list-style:none;
	margin-top:20px;
	li{
		display:inline-block;
		margin-right:30px;
		a{
			color:#fff;
			transition:all .3s;
			&:hover{
				color:#428bca;
				text-decoration:none;
			}
		}
		
	}
}
ul.menu-user{
	list-style:none;
}
.dd-menu{
	display:none;
}